<% provide(:title, 'Check Presence') %>
	<!--  start page-heading -->
	<div id="page-heading">
		<h1>Check Presence</h1>
	</div>
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="/assets/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="/assets/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">
	
		 
				<!--  start product-table ..................................................................................... -->
<%= form_tag lab_class_presences_update_presence_path :method => :post do %>
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
						<th class="table-header-repeat line-left minwidth-1"><a href="">Name</a>	</th>
						<th class="table-header-repeat line-left"><a href="">Surname</a></th>
						<th class="table-header-check"><input type="checkbox" class="checkAll" /></th>		
				</tr>
				<% @presences.each do |presence| %>
				<%= fields_for "presences[]", presence do |f| %>
				<tr>
				    <td><%= presence.student.name %></td>
				    <td><%= presence.student.surname  %></td>
				    <td><%= f.check_box :presence, class: "pr-el", id: "presence_#{presence.student.id}" %></td>
				</tr>
				<% end %>
			        <% end %>

				</table>
				<!--  end product-table................................... -->
<%= submit_tag "Check presence", :class => "form-submit" %> 
	<% end %>
			</div>
			<!--  end content-table  -->
		


			
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>
