<div id="page-heading"><h1>Edit Note</h1></div>

<%= form_for(@note) do |f| %>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
      <tr>
        <th rowspan="3" class="sized"><img src="/assets/shared/side_shadowleft.jpg" width="20" height="300" alt=""/>
        </th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="/assets/shared/side_shadowright.jpg" width="20" height="300" alt=""/>
        </th>
      </tr>
      <tr>
        <td id="tbl-border-left"></td>
        <td>
          <!--  start content-table-inner -->
          <div id="content-table-inner">

            <% if @note.errors.any? %>
                <% @note.errors.full_messages.each do |msg| %>
                    <!--  start message-red -->
                    <div id="message-red">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="red-left"><%= msg %></a></td>
                          <td class="red-right">
                            <a class="close-red"><img src="/assets/table/icon_close_red.gif" alt=""/></a></td>
                        </tr>

                      </table>
                    </div>
                    <!--  end message-red -->
                <% end %>
            <% end %>

            <table border="0" width="100%" height="240px" cellpadding="0" cellspacing="0">
              <tr valign="top">
                <td>

                  <!-- start id-form -->
                  <table border="0" cellpadding="0" cellspacing="0" id="id-form">
                    <tr>
                      <th valign="top">Name</th>
                      <td><%= @note.student.name %></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th valign="top">Surname</th>
                      <td><%= @note.student.surname %></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th valign="top"><%= f.label :note %></th>
                      <td><%= f.text_area :note %></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th valign="top"><%= f.label :day %></th>
                      <td><%= f.datetime_select :date, class: "inp-form" %></td>
                      <td></td>
                    </tr>

                    <td></td>
                    </tr>
                    <tr>
                      <th>&nbsp;</th>
                      <td valign="top">
                        <%= f.hidden_field :student_id %>
                        <%= f.hidden_field :lab_class_id %>
                        <%= f.submit :class => "form-submit" %>
                      </td>
                      <td></td>
                    </tr>
                  </table>
                  <!-- end id-form  -->

                </td>
                <td>


                </td>
              </tr>
              <tr>
                <td><img src="/assets/shared/blank.gif" width="695" height="1" alt="blank"/></td>
                <td></td>
              </tr>
            </table>

            <div class="clear"></div>


          </div>
          <!--  end content-table-inner  -->
        </td>
        <td id="tbl-border-right"></td>
      </tr>
      <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
      </tr>
    </table>
<% end %>














<div class="clear">&nbsp;</div>

