<%= form_for(@lab_mark) do |f| %>
  <% if @lab_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_mark.errors.count, "error") %> prohibited this lab_mark from being saved:</h2>

      <ul>
      <% @lab_mark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mark %><br />
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :presence_id %><br />
    <%= f.number_field :presence_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
