<h1>Listing lab_marks</h1>

<table>
  <tr>
    <th>Mark</th>
    <th>Description</th>
    <th>Presence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lab_marks.each do |lab_mark| %>
  <tr>
    <td><%= lab_mark.mark %></td>
    <td><%= lab_mark.description %></td>
    <td><%= lab_mark.presence_id %></td>
    <td><%= link_to 'Show', lab_mark %></td>
    <td><%= link_to 'Edit', edit_lab_mark_path(lab_mark) %></td>
    <td><%= link_to 'Destroy', lab_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lab mark', new_lab_mark_path %>
