<p id="notice"><%= notice %></p>

<p>
  <b>Mark:</b>
  <%= @lab_mark.mark %>
</p>

<p>
  <b>Description:</b>
  <%= @lab_mark.description %>
</p>

<p>
  <b>Presence:</b>
  <%= @lab_mark.presence_id %>
</p>


<%= link_to 'Edit', edit_lab_mark_path(@lab_mark) %> |
<%= link_to 'Back', lab_marks_path %>
