<h1>Listing lab_classes</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Subject</th>
    <th>Date</th>
    <th>Mark</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lab_classes.each do |lab_class| %>
  <tr>
    <td><%= link_to lab_class.group.group, lab_class.group %></td>
    <td><%= lab_class.subject %></td>
    <td><%= lab_class.date %></td>
    <td><%= lab_class.mark %></td>
    <td><%= lab_class.note %></td>
    <td><%= link_to 'Presence', lab_class_presences_path(lab_class) %></td>
    <td><%= link_to 'Check Presence', lab_class_presences_check_presence_path(lab_class) %></td>
    <td><%= link_to 'Show', lab_class %></td>
    <td><%= link_to 'Edit', edit_lab_class_path(lab_class) %></td>
    <td><%= link_to 'Destroy', lab_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% unless params[:group_id]==nil %>
 <td><%= link_to 'New Lab class', new_group_lab_class_path %></td>
<% end %>
